.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  grid-template-rows: auto auto; /* Two rows */
  gap: 20px; /* Space between grid items */
  padding: 20px; /* Padding around the grid */
  height: 100vh; /* Optional: full height */
}

.api-call {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.chart {
  scale: 1.1;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding: 50px;
}

.table {
  scale: 1.1;
  font-size: 3em;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  width: 200%;
}

.date-component {
  scale: 1.4;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
